*{
    box-sizing: border-box;
}

body{
    transition: background-color 0.3s ease;
    margin: 0;
    background: #111;
    color: #fff;
    font-family: system-ui, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header, footer{
    text-align: center;
    background: #1c1c1c;
}
footer{
    padding: 1rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    text-align: center;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

article, p{
    padding-bottom: 1.5rem;
}

button{
    transition: background-color 0.3s ease;
    padding: 8rem 16rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #00ff99;
    box-shadow: #00ff99 0px 0px 15px 1px;
}

output{
    transition: color 0.2s ease;
    font-weight: bold;
    display: block;
    margin-top: 1rem;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    button{
        padding: 18vh 40vw;
    }
  }
  